{% extends "todo/base.html" %}
{% load static %}


{% block content %}
  <div id="image">
    <img src="{% static 'todo/plashs.jpg' %}" width="100%" height="100%">
  </div>
<div id="loginForm">
  <div class="container__child signup__form">
    <form  method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="first_name">first name</label>
        <input class="form-control" type="text" name="first_name" id="first_name" placeholder="first name" required />
      </div>
      <div class="form-group">
        <label for="last_name">last Name</label>
        <input class="form-control" type="text" name="last_name" id="last_name" placeholder="last name" required />
      </div>
      <div class="form-group">
        <label for="username">user name</label>
        <input class="form-control" type="text" name="username" id="username" placeholder="james.bond" required />
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input class="form-control" type="text" name="email" id="email" placeholder="james.bond@spectre.com" required />
      </div>
      <div class="form-group">
        <label for="password">password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="********" required />
      </div>
      <div class="form-group">
        <label for="passwordrepeat">password Repeat</label>
        <input class="form-control" type="password" name="passwordrepeat" id="passwordrepeat" placeholder="********" required />
      </div>
      <div class="m-t-lg">
        <ul class="list-inline">
          <li>
            <input class="btn btn--form" type="submit" value="Register" />
          </li>
          <li>
            <a class="signup__link" href="#">I am already a member</a>
          </li>
        </ul>
      </div>
    </form>
  </div>
</div>


{% endblock %}


